*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build.gradle
app/src/main/AndroidManifest.xml
app/src/main/java/pnj/jejaringsosial/chandrasa/ChatActivity.java
app/src/main/java/pnj/jejaringsosial/chandrasa/fragments/DashboardActivity.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/APIService.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/Client.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/FirebaseMessaging.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/FirebaseService.java
hs_err_pid12928.log
app/build.gradle
app/src/main/AndroidManifest.xml
app/src/main/java/pnj/jejaringsosial/chandrasa/ChatActivity.java
app/src/main/java/pnj/jejaringsosial/chandrasa/fragments/DashboardActivity.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/APIService.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/Client.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/FirebaseMessaging.java
app/src/main/java/pnj/jejaringsosial/chandrasa/notifications/FirebaseService.java
hs_err_pid12928.log
